/* * {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: aquamarine
}

div.header::after, div.footer::before {
    border-bottom: .125em solid #09659bc2;
}

div.copyright {
    font-size: 0.8em;
}

h1.title {
    color: #09659bc2;
} */

h2 {
    color: green !important;
}

pre {
    background-color: transparent !important;
    border: 0 !important;
}