* {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 300;
}

h2 {
    color: #006699 !important;
}

/* Customization of the code blocks */

code, kbd, pre, samp, code span {
    font-family: 'Fira Code' !important;
}

code span.hljs-title, code span.hljs-keyword, code span.hljs-section {
    font-weight: normal !important;
}

pre {
    background-color: transparent !important;
    border: 0 !important;
}

/* End customization of code blocks */